.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div {
  width: min-content;
  //border: solid red;
  padding-left: 20px;
}

textarea {
  background-color: aquamarine;
  height: 150px;
  width: 500px;
}

h3 {
  margin-bottom: 10px;
}


.App-link {
  color: #61dafb;
}


